Repository fabricjs/fabric.js, pull requests merged in 2022-11, with the labels that each got.

#8416 ci(): remove unwanted file report stats
  .github/workflows/build.yml
  CHANGELOG.md
  package-lock.json
  package.json
  rollup.config.js
  scripts/buildStats.mjs
Labels: CI/CD

#8466 fix(Itext): show incorrect pointer position after scale changed
  CHANGELOG.md
  src/mixins/itext_click_behavior.mixin.ts
  test/unit/itext_click_behaviour.js
Labels: text

#8457 fix(IText): key maps
  CHANGELOG.md
  src/mixins/itext_key_behavior.mixin.ts
  src/mixins/itext_key_const.ts
  src/shapes/itext.class.ts
  test/unit/itext_key_behaviour.js
Labels: text, fix-next
